body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u807 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:360px;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:360px;
}
#u809 {
  position:absolute;
  left:2px;
  top:172px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:360px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:360px;
  opacity:0.2;
}
#u811 {
  position:absolute;
  left:2px;
  top:172px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  opacity:0.2;
}
#u814 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u815 {
  position:absolute;
  left:16px;
  top:38px;
  width:29px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Medium', '思源黑体 CN Regular', '思源黑体 CN';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u817 {
  position:absolute;
  left:73px;
  top:37px;
  width:81px;
  height:30px;
  font-family:'思源黑体 CN Medium', '思源黑体 CN Regular', '思源黑体 CN';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:6px;
}
#u819 {
  position:absolute;
  left:322px;
  top:49px;
  width:23px;
  height:6px;
}
#u820 {
  position:absolute;
  left:2px;
  top:-5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821 {
  position:absolute;
  left:321px;
  top:40px;
  width:24px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u822 {
  position:absolute;
  left:0px;
  top:338px;
}
#u822_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u822_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:84px;
  background:inherit;
  background-color:rgba(0, 151, 167, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:0px;
  top:22px;
  width:360px;
  height:84px;
}
#u824 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u825 {
  position:absolute;
  left:296px;
  top:0px;
  width:50px;
  height:50px;
}
#u826 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u827 {
  position:absolute;
  left:18px;
  top:40px;
  width:47px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u829 {
  position:absolute;
  left:19px;
  top:72px;
  width:153px;
  height:18px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u831 {
  position:absolute;
  left:16px;
  top:116px;
  width:41px;
  height:30px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u833 {
  position:absolute;
  left:16px;
  top:156px;
  width:48px;
  height:48px;
}
#u834 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u835 {
  position:absolute;
  left:73px;
  top:157px;
  width:100px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u837 {
  position:absolute;
  left:73px;
  top:183px;
  width:88px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u839 {
  position:absolute;
  left:303px;
  top:168px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u841 {
  position:absolute;
  left:16px;
  top:212px;
  width:48px;
  height:48px;
}
#u842 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u843 {
  position:absolute;
  left:73px;
  top:213px;
  width:40px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u845 {
  position:absolute;
  left:73px;
  top:239px;
  width:106px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u847 {
  position:absolute;
  left:303px;
  top:224px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u849 {
  position:absolute;
  left:16px;
  top:266px;
  width:48px;
  height:48px;
}
#u850 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u851 {
  position:absolute;
  left:73px;
  top:267px;
  width:52px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u853 {
  position:absolute;
  left:73px;
  top:293px;
  width:95px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u855 {
  position:absolute;
  left:303px;
  top:278px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u857 {
  position:absolute;
  left:16px;
  top:321px;
  width:48px;
  height:48px;
}
#u858 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u859 {
  position:absolute;
  left:73px;
  top:322px;
  width:100px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u861 {
  position:absolute;
  left:73px;
  top:348px;
  width:88px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u863 {
  position:absolute;
  left:303px;
  top:333px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u865 {
  position:absolute;
  left:16px;
  top:377px;
  width:48px;
  height:48px;
}
#u866 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u867 {
  position:absolute;
  left:73px;
  top:378px;
  width:40px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u869 {
  position:absolute;
  left:73px;
  top:404px;
  width:106px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u871 {
  position:absolute;
  left:303px;
  top:389px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u873 {
  position:absolute;
  left:16px;
  top:431px;
  width:48px;
  height:48px;
}
#u874 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u875 {
  position:absolute;
  left:73px;
  top:432px;
  width:52px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u877 {
  position:absolute;
  left:73px;
  top:458px;
  width:95px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u879 {
  position:absolute;
  left:303px;
  top:443px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 188, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:0px;
  top:246px;
  width:360px;
  height:56px;
}
#u882 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:0px;
  top:242px;
  width:360px;
  height:4px;
}
#u884 {
  position:absolute;
  left:2px;
  top:-6px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:4px;
  background:inherit;
  background-color:rgba(224, 64, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:0px;
  top:242px;
  width:100px;
  height:4px;
}
#u886 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u887 {
  position:absolute;
  left:302px;
  top:268px;
  width:12px;
  height:14px;
}
#u888 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u889 {
  position:absolute;
  left:278px;
  top:269px;
  width:12px;
  height:12px;
  color:#FFFFFF;
}
#u890 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u891 {
  position:absolute;
  left:326px;
  top:269px;
  width:12px;
  height:12px;
}
#u892 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:-10px;
  top:22px;
  width:370px;
  height:290px;
}
#u894 {
  position:absolute;
  left:2px;
  top:137px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:84px;
  background:inherit;
  background-color:rgba(0, 151, 167, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:0px;
  top:22px;
  width:360px;
  height:84px;
}
#u896 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u897 {
  position:absolute;
  left:296px;
  top:0px;
  width:50px;
  height:50px;
}
#u898 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u899 {
  position:absolute;
  left:18px;
  top:40px;
  width:47px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u901 {
  position:absolute;
  left:19px;
  top:72px;
  width:153px;
  height:18px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u903 {
  position:absolute;
  left:16px;
  top:116px;
  width:41px;
  height:30px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u905 {
  position:absolute;
  left:16px;
  top:156px;
  width:48px;
  height:48px;
}
#u906 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u907 {
  position:absolute;
  left:73px;
  top:157px;
  width:100px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u909 {
  position:absolute;
  left:73px;
  top:183px;
  width:88px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u911 {
  position:absolute;
  left:303px;
  top:168px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u913 {
  position:absolute;
  left:16px;
  top:212px;
  width:48px;
  height:48px;
}
#u914 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u915 {
  position:absolute;
  left:73px;
  top:213px;
  width:40px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u917 {
  position:absolute;
  left:73px;
  top:239px;
  width:106px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u919 {
  position:absolute;
  left:303px;
  top:224px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u921 {
  position:absolute;
  left:16px;
  top:266px;
  width:48px;
  height:48px;
}
#u922 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u923 {
  position:absolute;
  left:73px;
  top:267px;
  width:52px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u925 {
  position:absolute;
  left:73px;
  top:293px;
  width:95px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u927 {
  position:absolute;
  left:303px;
  top:278px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u929 {
  position:absolute;
  left:16px;
  top:321px;
  width:48px;
  height:48px;
}
#u930 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u931 {
  position:absolute;
  left:73px;
  top:322px;
  width:100px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u933 {
  position:absolute;
  left:73px;
  top:348px;
  width:88px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u935 {
  position:absolute;
  left:303px;
  top:333px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u937 {
  position:absolute;
  left:16px;
  top:377px;
  width:48px;
  height:48px;
}
#u938 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u939 {
  position:absolute;
  left:73px;
  top:378px;
  width:40px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u941 {
  position:absolute;
  left:73px;
  top:404px;
  width:106px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u943 {
  position:absolute;
  left:303px;
  top:389px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u945 {
  position:absolute;
  left:16px;
  top:431px;
  width:48px;
  height:48px;
}
#u946 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u947 {
  position:absolute;
  left:73px;
  top:432px;
  width:52px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#212121;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u949 {
  position:absolute;
  left:73px;
  top:458px;
  width:95px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#757575;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(186, 186, 186, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u951 {
  position:absolute;
  left:303px;
  top:443px;
  width:41px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#757575;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 188, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  position:absolute;
  left:0px;
  top:246px;
  width:360px;
  height:56px;
}
#u954 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955 {
  position:absolute;
  left:0px;
  top:247px;
  width:72px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u956 {
  position:absolute;
  left:72px;
  top:247px;
  width:72px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u957 {
  position:absolute;
  left:144px;
  top:247px;
  width:72px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u958 {
  position:absolute;
  left:216px;
  top:247px;
  width:72px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u959 {
  position:absolute;
  left:288px;
  top:247px;
  width:72px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:0px;
  top:242px;
  width:360px;
  height:4px;
}
#u961 {
  position:absolute;
  left:2px;
  top:-6px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:4px;
  background:inherit;
  background-color:rgba(224, 64, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:0px;
  top:242px;
  width:100px;
  height:4px;
}
#u963 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u964 {
  position:absolute;
  left:246px;
  top:268px;
  width:12px;
  height:14px;
}
#u965 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u966 {
  position:absolute;
  left:174px;
  top:269px;
  width:12px;
  height:12px;
  color:#FFFFFF;
}
#u967 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u968 {
  position:absolute;
  left:318px;
  top:269px;
  width:12px;
  height:12px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u970 {
  position:absolute;
  left:101px;
  top:267px;
  width:14px;
  height:16px;
}
#u971 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u972 {
  position:absolute;
  left:27px;
  top:265px;
  width:18px;
  height:20px;
}
#u973 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
